{block #content}
    <p n:isAllowed="carousel, edit">
        <a n:href="Carousel:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New carousel"}</a>
    </p>
    {control gridCarousel}
{/block}